.card::before{
    content:"";
    position:absolute;
    left:18px;
    top:90px;      /* top strip ke niche se */
    bottom:35px;   /* bottom strip ke upar tak */
    width:2px;
    background:rgba(255,255,255,0.8);
    z-index:1;
}

.card::after{
    content:"";
    position:absolute;
    right:18px;
    top:90px;
    bottom:35px;
    width:2px;
    background:rgba(255,255,255,0.8);
    z-index:1;
}
